.info-1 li i {
  color: #fff !important;
}

.info-1 li span {
  width: 0 !important;
  margin-right: 35px !important
}

.info-1 li a {
  display: inline-block !important;
  font-size: 18px !important;
  padding: 0 !important;
}

.fh5co-social.fh5co-stack li i {
  color: #ffab00;
  margin: 0
}

.fh5co-social li span {
  margin-right: 20px;
  width: 300px;
  display: inline-block
}

.exp small {
  font-size: 16px;
  color: #ffab00
}

.fh5co-section-heading .fh5co-number {
  color: #ffab00  
}