
@media screen and (max-width: 1199px) {
  .contact-us .line {
    display: none
  }
}

@media screen and (max-width: 991px) {
  .apps-link img {
     height: 90px;
  }
  .apps-bg {
     background-image: none;
     background-color: #eae9e2;
  }
}

@media screen and (max-width: 768px) {
   #fh5co-header {
      background: none;
   }
   .fh5co-nav-toggle {
      top: 20px;
   }
}
