
@media screen and (max-width: 1199px) {
  .feature-title .line {
    display: none
  }
}

@media screen and (max-width: 991px) {
  .apps-link img {
     height: 90px;
  }
  .apps-bg {
     background-image: none;
     background-color: #eae9e2;
  }
  .media-img {
     margin-bottom: 10px;
  }
  .media-icon {
     text-align: justify;
  }
}

@media screen and (max-width: 768px) {
   #fh5co-header {
      background: none;
   }
   .fh5co-nav-toggle {
      top: 20px;
   }
}

@media screen and (max-width: 480px) {
   .media-icon {
     text-align: center;
  }
}
