@font-face{
  font-family: 'Giorgio-Thin';
  src: url("../fonts/giorgio/Giorgio-Thin.ttf");
  src: url("../fonts/giorgio/Giorgio-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
  color: #333333;
  letter-spacing: 1px;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Giorgio-Thin'; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Giorgio Thin" !important
}

p {
  /* font-family: Erika Ormig !important */
}

.m-20 {
  margin: 20px 0;
}

hr {
  margin-top: 40px;
  border-top: 1px solid #999999
}

.banner {
  height: 100vh !important;
  background-size: cover;
  background-position: center !important;
}

.banner img {
  width: 40% !important;
  margin: auto;
  z-index: 99;
}

.banner-1 {
  /* background-image: url('../images/dujour/banner-1.jpg'); */
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-1.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-1.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-1.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-1.jpg");
}

.banner-2 {
  /* background-image: url('../images/dujour/banner-2.jpg'); */
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-2.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-2.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-2.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-2.jpg");
}

.banner-3 {
  /* background-image: url('../images/dujour/banner-3.jpg'); */
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-3.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-3.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-3.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-3.jpg");
}

.banner-4 {
  /* background-image: url('../images/dujour/banner-4.jpg'); */
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-4.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-4.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-4.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/banner-4.jpg");
}

.owl-carousel-fullwidth .item .fh5co-owl-text {
  height: 100vh;
}

.owl-carousel-main.owl-theme .owl-dots .owl-dot span {
  background: #fff !important;
  /* width: 12px;
  height: 12px; */
}

.owl-carousel-main.owl-theme .owl-dots .owl-dot.active span, .owl-carousel-main.owl-theme .owl-dots .owl-dot:hover span {
  background: #cc9933 !important;
  border: 2px solid #cc9933 !important;
}

#navbar {
  width: 45%;
  margin: auto
}

.nav > li > a {
  padding: 10px 25px;
}

#fh5co-header.navbar-fixed-top {
  background: #0b0d0f;
  display: none
}

.clear {
  clear: both
}

#fh5co-header #navbar li a {
  font-size: 14px;
}

#fh5co-header #navbar li a span:before {
  background: #cc9933;
  height: 3px;
  bottom: -8px;
}

#fh5co-header #navbar li a:hover {
  color: #cc9933;
}

#fh5co-header {
  margin-top: 50px;
}

#fh5co-header .navbar-brand {
  width: 200px;
  padding: 0
}

.owl-carousel-fullwidth .item, .owl-carousel-fullwidth .fh5co-owl-text-wrap {
  height: 100vh !important;
}

.reservation-button {
  position: absolute;
  top: 0;
  right: 0
}

.reservation-button .nav > li > a {
  padding: 15px 30px;
  background: #cc9933 !important;
  color: #fff !important;
  font-size: 14px;
}

/* ABOUT */
.about {
  background: #fff;
  padding: 100px 0;
  color: #333333;
}

.about h2 {
  font-weight: 600;
  color: #333333;
  margin-bottom: 20px;
  font-size: 36px;
}

.about p {
  letter-spacing: 1px
}

.about .about-details h3 {
  font-size: 16px;
  font-weight: 600
}

.about .about-details p {
  margin-bottom: 30px;
}

.about .about-details a {
  color: #000;
  text-decoration: underline
}


/* MENU */
.menu {
  background: #16191e;
  padding: 100px 0;
  color: #999999
}

.menu h2 {
  color: #999966
}

.menu h3 {
  color: #999999
}

.menu .menu-title {
  /* border-left: 2px solid #cc9933; */
  margin-bottom: 10px;
  /* width: 250px; */
}

.menu .menu-title span {
  color: #cc9933;
  padding-right: 5px;
}

.menu span {
  color: #cc9933
}

.menu p {
  margin-bottom: 5px;
}

.menu .title-small {
  margin-bottom: 15px;
  /* line-height: 1.4 */
}

.menu .title-small small {
  font-style: italic  
}

.menu .title-small small span {
  font-style: normal  
}

.menu button {
  background: #cc9933;
  color: #0b0d0f;
  padding: 12px 20px;
  border: none;
}

.menu button:hover {
  background: #0b0d0f;
  color: #fff
}


/* CUSTOM-ITEM */
.custom-item {
  width: 100%;
  background: #fff;
  height: 800px;
  text-align: center
}

.custom-item .left {
  width: 50%;
  height: 100%;
  float: left;
}

.custom-item .right {
  width: 50%;
  height: 100%;
  float: right;
}

.custom-item h2 {
  color: #999966
}

.custom-item h3 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}

.catering .left {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-1.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-1.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-1.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-1.jpg");
  background-size: cover;
}

.catering .right {
  padding: 50px;
}

.group-dining .left {
  padding: 50px;
}

.group-dining .right {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-2.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-2.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-2.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-2.jpg");
  background-size: cover;
}

.reservation .left {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-3.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-3.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-3.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-3.jpg");
  background-size: cover;
}

.contact-us .right {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-4.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-4.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-4.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/item-4.jpg");
  background-size: cover;
}

.custom-item .event p {
  margin-bottom: 0;
}

.custom-item button {
  border: unset;
  box-shadow: unset;
  background: #292929;
  padding: 12px 20px;
  color: #fff;
  width: 100%;
}

.custom-item a {
  color: #1c6ed2
}

.contact-us .left {
  padding: 50px;
}

.contact-us form {
  text-align: left
}

.contact-us .form-group {
  margin-bottom: 30px;
}

.contact-us .form-control {
  border-radius: 0;
  background: #efefef;
  border: 2px solid #dedede;
  padding: 7px 14px;
  color: #555
}

.contact-us label {
  font-weight: normal;
  letter-spacing: 0;
  font-size: 14px;
}

.contact-us .form-control:focus {
  box-shadow: unset;
}

.contact-us button {
  background: #333 !important;
  letter-spacing: 0;
  font-weight: 600;
}

.contact-us .contact {
  font-size: 35px;
  margin-bottom: 30px;
  letter-spacing: 0
}


.reservation-bg {
  background-image: -moz-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/reserve.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/reserve.jpg");
  background-image: -ms-linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/reserve.jpg");
  background-image: linear-gradient(top, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("../images/dujour/reserve.jpg");
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat
}


.reservation-bg .mid {
  margin-top: 45vh;
  color: #cc9933;
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  letter-spacing: 2px;
}

.reservation-bg .mid h1 {
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  font-size: 50px;
}

.reserve label {
  font-weight: normal
}

.reserve p {
  margin: 50px 0;
  font-size: 20px;
}

.form-control:focus {
  border-color: #cc9933;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 153, 51, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(204, 153, 51, 0.6);
}

/* FOOTER */
.footer {
  background: #0b0d0f;
  padding: 100px 0
}

.footer .email {
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

.footer p {
  color: #999999
}

.footer .social i {
  color: #fff;
  font-size: 20px;
}

.social li a:hover {
  background: #cc9933 !important;
  border-radius: 50px
}

@media only screen and (max-width: 768px) {
  .custom-item .left {
    width: 100%
  }

  .custom-item .right {
    width: 100%
  }

  #fh5co-header {
    background: none;
  }

  .footer p {
    text-align: center;
  }

  .navbar-header {
    display: block !important;
    padding: 0 10px;
  }

  .footer .col-md-4 {
    margin-bottom: 30px;
  }

  #navbar {
    width: 100%;
    background: #fff
  }

  .fh5co-nav-toggle i {
    color: #cc9933;
    background: #cc9933;
  }

  .fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
    color: #cc9933;
    background: #cc9933
  }

  .reservation-button .nav > li > a {
    margin-top: 50px !important;
    margin-right: 35px !important
  }
}

.datepicker,
.timepicker,
.datetimepicker {
	.form-control {
		background: #fff;
	}
}